@model borrower_NET.Models.UsersTb

@{
    ViewBag.Title = "Details";
}

<h2>Your Profile</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <h4>Personal Information</h4>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
    </dl>
    <hr />
    <dl class="dl-horizontal">
      <h4>Contact Details</h4>
        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailId)
        </dd>


    </dl>
</div>
<p>
  
    @Html.ActionLink("Back", "Index","Borrower")
</p>
