@model borrower_NET.Models.BorrowersTb

@{
    ViewBag.Title = "Details";
}


<h2> @Html.DisplayFor(model => model.FullName) Details </h2>


    <hr />
    <div class="well">
        <dl class="dl-horizontal">

            <h4 style="color:blue;">Personal Information</h4>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.FullName):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MobileNumber):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MobileNumber)
            </dd>

        </dl>
    </div>

    <hr />
    <div class="well">
        <dl class="dl-horizontal">

            <h4 style="color:blue">Fund Related Information</h4>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.FundAmount):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FundAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FundPurpose):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FundPurpose)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BusinessType):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BusinessType)
            </dd>
        </dl>
    </div>
    <hr />
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
