@model IEnumerable<borrower_NET.Models.BorrowersTb>

@{
    ViewBag.Title = "Index";
}
@{ 
       
        if(TempData["InfoMessage"] != null)
        {
    <div class="well">
        @TempData["InfoMessage"].ToString()
    </div>

} 
}

<div>
    <div style="float:right; margin-bottom:20px;margin-top:20px;">

        @using (Html.BeginForm("Index", "Borrower", FormMethod.Get))
        {
            <table>
                <tr>
                    <td>
                        <span><b>Search By:</b> </span>
                        @Html.RadioButton("searchBy", "FullName",true)
                        <text>Name</text>
                        @Html.RadioButton("searchBy", "Address")
                        <text>Address</text>
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.TextBox("searchValue",null,new { @class = "form-control me-sm-2", placeHolder = "Search by borrower name or address" })

                    </td>
                    <td>
                        <input type="submit" value="Search" class="btn btn-secondary my-2 my-sm-0" />
                        @Html.ActionLink("Add New", "Create", "Borrower", new { @class = "btn btn-success bi bi-plus" })

                    </td>


                </tr>
            </table>
        }
    </div>

</div>




<table class="table well">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FundAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessType)
        </th>
        <th style="text-align: center;">Options</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FundAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessType)
            </td>
            <td style="text-align: center;">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary bi bi-pencil-square" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info bi bi-eye" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger bi bi-trash" })
            </td>
        </tr>
    }

</table>
