@model IEnumerable<borrower_NET.Models.BorrowersTb>

@{
    ViewBag.Title = "Index";
}

<h2>Borrower List</h2>

    <div  style="float:right; margin-bottom:20px;">
            @Html.ActionLink("Add New", "Create", "Borrower", new {@style= "text-decoration: none; color:white;" }, new {@class="btn btn-success bi bi-plus"})
    </div>
    
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FundAmount)
        </th>
        <th>Options</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FundAmount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary bi bi-pencil-square"})| 
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new {@class = "btn btn-info bi bi-eye"}) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger bi bi-trash" })
            </td>
        </tr>
    }

</table>
